.header--mainHeader{
    background-color: white;
    color:rgb(54, 54, 54);
    position: fixed;
    top:0rem;
    left: 0rem;
    width: 100%;
   /*  height: 18vh; */
    z-index: 2;
    

    .header--companyName{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h1{
            margin: 1rem, 0, 0.2rem, 0;
            padding-left: 2rem;

        }

        .header--searchContainer{
            width: 500px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(45,45,45);
            border: 1px solid rgb(54, 54, 54);
            border-radius: 5px;
        }

    }

    .header--signin{

        display: flex;

        button{
            background-color: rgba($color: #000000, $alpha: 0.0);
            color: rgb(54,54,54); 
            border: rgb(54,54,54) solid 1px;
            margin: 1rem;
            transition: all 0.5s ease-in-out;

            &:hover{
                color: #fff;
                background-color: rgb(54, 54, 54);
            }
        
        }
    }
    
}